body {
    background-color: rgb(171, 66, 87);
}
.container {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 25px;
    height: 25px;
    background-color: #fff;
    margin: 1px;
}

.blockHover {
    background-color: #000;
}